body{
  height: 100%;
}
.page-wrap {
    min-height: 100%;
    margin-bottom: -142px; 
}
.page-wrap:after {
    content: "";
    display: block;
}
nav.navbar.navbar-default{
    height: 7rem;
    box-shadow: 1px 1px 10px rgba(110, 4, 75, 0.521);
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form{
    border-color: transparent;
}
ul.nav.navbar-nav.navbar-right{
    padding-top: 1rem;
}
.navbar-brand{
    padding: 0 15px;
}

.carousel-indicators{
    border: orange;
    top: 0px;
}
.carousel-caption{
    background: rgba(110, 4, 75, 0.521);
    padding-bottom: 2px;
    padding-top: 0px;
    right: 2px;
    left: 2px;
    bottom: 2px;
}
.OptusSrc_Caption{
    margin-bottom: 0px;
    margin-right: 10px;
    margin-left: 10px;
}
.col-sm-12{
    display: flex;
    text-align: center;
    justify-content: center;
}

p{
    font-size: 15pt;
    color: #52575c;
    text-align: justify;
    font-family: 'Source Sans Pro',sans-serif;
}.glyphicon{
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
}


@media screen and (min-width: 800px) and (max-width: 992px){
    .container{
        width: 90%;
    }
    .nav>li>a{
        padding: 15px 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 800px){
    .nav>li>a{
        padding: 15px 8px;
    }
}

@media screen and (max-width: 768px){

    .nav>li{
        width: 50%;
        z-index: 100;
        background-color: #fff;
    }
}